.doc .admonitionblock .icon {
  border-radius: 1rem;
}

/* i.fa[class^='icon-'] {
  font-family: SourceSansPro, Helvetica, Arial, sans-serif !important;
}

i.fa[class^='icon-'], i.fa[class*=' icon-']:before {
  content: "";
  height: 1.25rem;
  width: 1.25rem;
  margin-right: 0.25rem;
  margin-left: -0.5rem;
} */

i.fa.icon-note::before {
  content: "\f129";
  margin-left: 0;
  margin-right: 5px;
  font-size: 16px;
}

i.fa.icon-tip::before {
  content: "\f0eb";
  margin-left: -3px;
  margin-right: 5px;
  font-size: 16px;
}

i.fa.icon-important::before {
  content: "\f12a";
  margin-left: 0;
  margin-right: 5px;
  font-size: 16px;
}

i.fa.icon-warning::before {
  content: "\f7b9";
  margin-left: -4px;
  margin-right: 5px;
  font-size: 16px;
}

i.fa.icon-caution::before {
  content: "\f06d";
  margin-left: -4px;
  margin-right: 5px;
  font-size: 16px;
}
